<a href="https://colab.research.google.com/github/ngzhankang/Deep-Learning_ca2/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 2 - Part A
Done by : 
- P1935727 Ng Zhan Kang
- P1935488 Triston Loh

Class of DIT/FT/2B/11

---
---

### 1.1 Ensuring 0% Util

---

Ensure that our slot give by Google is not utilized yet.

In [2]:
# to ensure that the current gpu utilization is 0
# memory footprint support libraries/code
!ln -sf /opt/bin/nvidia-smi /usr/bin/nvidia-smi
!pip install gputil
!pip install psutil
!pip install humanize
import psutil
import humanize

import os
import GPUtil as GPU
GPUs = GPU.getGPUs()
# XXX: only one GPU on Colab and isnâ€™t guaranteed
gpu = GPUs[0]
def printm():
 process = psutil.Process(os.getpid())
 print("Gen RAM Free: " + humanize.naturalsize( psutil.virtual_memory().available ), " | Proc size: " + humanize.naturalsize( process.memory_info().rss))
 print("GPU RAM Free: {0:.0f}MB | Used: {1:.0f}MB | Util {2:3.0f}% | Total {3:.0f}MB".format(gpu.memoryFree, gpu.memoryUsed, gpu.memoryUtil*100, gpu.memoryTotal))
printm()

Collecting gputil
  Downloading https://files.pythonhosted.org/packages/ed/0e/5c61eedde9f6c87713e89d794f01e378cfd9565847d4576fa627d758c554/GPUtil-1.4.0.tar.gz
Building wheels for collected packages: gputil
  Building wheel for gputil (setup.py) ... done
  Created wheel for gputil: filename=GPUtil-1.4.0-cp36-none-any.whl size=7411 sha256=072ba51a17013833ae8fcec10af056265a2c4410feb4f9fc3522e7e1bda79000
  Stored in directory: /root/.cache/pip/wheels/3d/77/07/80562de4bb0786e5ea186911a2c831fdd0018bda69beab71fd
Successfully built gputil
Installing collected packages: gputil
Successfully installed gputil-1.4.0
Requirement already satisfied: psutil in /usr/local/lib/python3.6/dist-packages (5.4.8)
Requirement already satisfied: humanize in /usr/local/lib/python3.6/dist-packages (0.5.1)
Gen RAM Free: 12.8 GB  | Proc size: 112.4 MB
GPU RAM Free: 15079MB | Used: 0MB | Util   0% | Total 15079MB

### 1.2. Forcing Utils To 0% To Get A Clean Cluster

---

Please do not use this step unless the cluster you are allocated to is quite full.

In [3]:
## if utilization is > 0, run this code(keep running this cell and the above cell till the util number is 0%):
## NOTE THAT RUNNING THIS MIGHT KILL GPU SESSION AND RESULT IN DATA LOSS(NOT ADVICABLE TO KEEP ON REUSING)
# !kill -9 -1

---
---

# 2.Ensuring GPU Is Utilized In Environment

### 2.1. See the list of available devices

---

This entire section can be omitted if users are not utilizing GPU at all.

In [4]:
from tensorflow.python.client import device_lib
print(device_lib.list_local_devices())

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 5298387871293458807
, name: "/device:GPU:0"
device_type: "GPU"
memory_limit: 14638920512
locality {
  bus_id: 1
  links {
  }
}
incarnation: 18195921894130980460
physical_device_desc: "device: 0, name: Tesla T4, pci bus id: 0000:00:04.0, compute capability: 7.5"
]

In [5]:
import tensorflow as tf
tf.test.gpu_device_name()

'/device:GPU:0'

In [6]:
!nvidia-smi

Sun Dec 20 13:45:54 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 418.67       Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   39C    P0    27W /  70W |    227MiB / 15079MiB |      1%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
+-----------------------------------------------------------------------------+

---
---

# 3.Background Information

### 3.1.About The CelebA Dataset
---

### 3.2.CelebA Dataset
---

---
---

# 4.Data Importing

### 4.1.Load the libraries
---
Load the necessary libraries for usage in the entire project.

In [7]:
# Suppress Future Warnings
import warnings
warnings.filterwarnings('ignore')

In [8]:
# check versions of libraries we are going to use
%tensorflow_version 2.x
import os
import tensorflow
import sklearn
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
import platform

message="        Versions        "
print("*"*len(message))
print(message)
print("*"*len(message))
print("Tensorflow version={}".format(tensorflow.__version__))
print("Keras version={}".format(tensorflow.keras.__version__))
print("Sklearn version={}".format(sklearn.__version__))
print("Numpy version={}".format(np.__version__))
print("Pandas version={}".format(pd.__version__))
print("Seaborn version={}".format(sns.__version__))
print("Matplotlib version={}".format(matplotlib.__version__))
print("Python version={}".format(platform.python_version()))

************************
        Versions
************************
Tensorflow version=2.4.0
Keras version=2.4.0
Sklearn version=0.22.2.post1
Numpy version=1.19.4
Pandas version=1.1.5
Seaborn version=0.11.0
Matplotlib version=3.2.2
Python version=3.6.9

In [9]:
# download the necessary libraries that is not inside keras library

# start importing necessary libraries
import tensorflow as tf
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense, Reshape, Dropout   
from tensorflow.keras.layers import Conv2D, Flatten, BatchNormalization
from tensorflow.keras.layers import LeakyReLU
from tensorflow.keras.layers import AveragePooling2D, MaxPooling2D
from tensorflow.keras.optimizers import Adam

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import time

# for making graphcial progress bar
from tqdm import tqdm

# for adding support to different image file type
from PIL import Image

%matplotlib inline

In [15]:
# get the links of the dataset that i have stored in my github repo
list_attr_celeba_csv_url = 'https://raw.githubusercontent.com/ngzhankang/Deep-Learning_ca2/main/dataset/list_attr_celeba.csv?token=APIZFPVQ6Z5UI3YC5FE4EU275CHRQ'
list_bbox_celeba_csv_url = 'https://raw.githubusercontent.com/ngzhankang/Deep-Learning_ca2/main/dataset/list_bbox_celeba.csv?token=APIZFPWJZ7ZWPUKX4WYPGOS75CHT2'
list_eval_partition_csv_url = 'https://raw.githubusercontent.com/ngzhankang/Deep-Learning_ca2/main/dataset/list_eval_partition.csv?token=APIZFPQFHFR2ROVXSXNNLYK75CHVY'
list_landmarks_align_celeba_csv_url = 'https://raw.githubusercontent.com/ngzhankang/Deep-Learning_ca2/main/dataset/list_landmarks_align_celeba.csv?token=APIZFPQ27MDPHJZ4HABUPVS75CHX2'

# now using the links we load into panda dataframes
list_attr_celeba_csv = pd.read_csv(list_attr_celeba_csv_url, delimiter=',')
list_bbox_celeba_csv = pd.read_csv(list_bbox_celeba_csv_url, delimiter=',')
list_eval_partition_csv = pd.read_csv(list_eval_partition_csv_url, delimiter=',')
list_landmarks_align_celeba_csv = pd.read_csv(list_landmarks_align_celeba_csv_url, delimiter=',')

### 4.2.Creating `hms_string` class for time recording purposes
---
We create `hms_string` class for time recording purposes later on when we train our models, so that we can see the time elapsed.

In [16]:
# Nicely formatted time string
def hms_string(sec_elapsed):
    h = int(sec_elapsed / (60 * 60))
    m = int((sec_elapsed % (60 * 60)) / 60)
    s = sec_elapsed % 60
    return "{}:{:>02}:{:>05.2f}".format(h, m, s)

---
---

# 5.Exporatory Data Analysis

### 5.1.Basic Data Exploration
---
Take a peek look at what is inside the respective dataframes first before we do something to it.

In [17]:
# csv1
df1Row, df1Col = list_attr_celeba_csv.shape
list_attr_celeba_csv.name = 'list_attr_celeba.csv'

# csv2
df2Row, df2Col = list_bbox_celeba_csv.shape
list_bbox_celeba_csv.name = 'list_bbox_celeba.csv'

# csv3
df3Row, df3Col = list_eval_partition_csv.shape
list_eval_partition_csv.name = 'list_eval_partition.csv'

# csv4
df4Row, df4Col = list_landmarks_align_celeba_csv.shape
list_landmarks_align_celeba_csv.name = 'list_landmarks_align_celeba.csv'

# print out the rows and columns for the respective csv files
print(f'There are {df1Row} rows and {df1Col} columns for {list_attr_celeba_csv.name}')
print(f'There are {df2Row} rows and {df2Col} columns for {list_bbox_celeba_csv.name}')
print(f'There are {df3Row} rows and {df3Col} columns for {list_eval_partition_csv.name}')
print(f'There are {df4Row} rows and {df4Col} columns for {list_landmarks_align_celeba_csv.name}')

There are 202599 rows and 41 columns for list_attr_celeba.csv
There are 202599 rows and 5 columns for list_bbox_celeba.csv
There are 202599 rows and 2 columns for list_eval_partition.csv
There are 202599 rows and 11 columns for list_landmarks_align_celeba.csv

In [18]:
# we shall see the top 5 values for each csv files
list_attr_celeba_csv.head(5)

     image_id  5_o_Clock_Shadow  ...  Wearing_Necktie  Young
0  000001.jpg                -1  ...               -1      1
1  000002.jpg                -1  ...               -1      1
2  000003.jpg                -1  ...               -1      1
3  000004.jpg                -1  ...               -1      1
4  000005.jpg                -1  ...               -1      1

[5 rows x 41 columns]

In [19]:
list_bbox_celeba_csv.head(5)

     image_id  x_1  y_1  width  height
0  000001.jpg   95   71    226     313
1  000002.jpg   72   94    221     306
2  000003.jpg  216   59     91     126
3  000004.jpg  622  257    564     781
4  000005.jpg  236  109    120     166

In [20]:
list_eval_partition_csv.head(5)

     image_id  partition
0  000001.jpg          0
1  000002.jpg          0
2  000003.jpg          0
3  000004.jpg          0
4  000005.jpg          0

In [21]:
list_landmarks_align_celeba_csv.head(5)

     image_id  lefteye_x  lefteye_y  ...  leftmouth_y  rightmouth_x  rightmouth_y
0  000001.jpg         69        109  ...          152           108           154
1  000002.jpg         69        110  ...          151           108           153
2  000003.jpg         76        112  ...          156            98           158
3  000004.jpg         72        113  ...          155           101           151
4  000005.jpg         66        114  ...          147           104           150

[5 rows x 11 columns]